.alert{
    display: none;
    width: 90%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: rgba(0,0,0,0.3);
}
h1{font-size: 9rem;
    font-weight: 900;
    color: blue;}

@media screen and (max-width : 767px)
{
    .hide{
        display: none;
    }
    h1{
        margin-bottom: 0px !important;
    }
}

